.shoe__container {
  margin-top: 3rem;
  cursor: pointer;
}

.shoe__imgCont {
  width: calc(100vw);
  position: relative;
}

.shoe__image {
  width: 100%;
  object-fit: cover;
}

.shoe__iconCont {
  position: absolute;
  width: calc(100% - 5rem);
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  top: calc(50% - 1rem);
  padding: 0 2.5rem;
}

.shoe__iconDiv {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.shoe__iconDiv:hover {
  transform: scale(1.1);
  transition-duration: 200ms;
}

.shoe__LRIcons {
  width: 20px;
  height: 20px;
}

.shoe__icon-right {
  position: absolute;
  /* top: calc(50% - 1rem); */
  right: 3.5rem;
}

.shoe__thumbs {
  display: none;
}

@media (min-width: 1024px) {
  .shoe__container {
    width: 40vw;
    margin-top: 20vh;
  }

  .shoe__imgCont {
    width: calc(100% - 10rem);
    margin: 0 auto;
  }

  .shoe__image {
    border-radius: 10px;
  }

  .shoe__iconCont {
    top: calc(50% - 3.5rem);
  }

  .shoe__icon-right {
    right: 2.5rem;
  }

  .shoe__thumbs {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 4px 0;
    margin-top: 1rem;
  }

  .shoe__thumbnail {
    width: calc(10vw - 4rem);
    border-radius: 5px;
  }

  .thumb__border {
    border: 2px solid hsl(26, 100%, 55%);
    opacity: 0.5;
  }
}
